@import "tailwindcss";

@theme {
	--color-background: #222831;
	--color-card: #393e46;
	--color-muted: #948979;
	--color-surface: #393e46;
}

@layer base {
	body {
		@apply bg-background text-white;
	}
}
