@import "tailwindcss";

:root {
	--background: #222831;
	--surface: #393e46;
	--success: #34d399;
	--error: #ef4444;
}
@theme {
	--color-background: var(--background);
	--color-surface: var(--surface);
	--color-success: var(--success);
	--color-error: var(--error);
}

@layer base {
	body {
		@apply bg-background text-white;
	}
}
